{% block content %}
<h1>Login</h1>
<hr>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}<br><br>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
    </p>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/store/" />
</form>

{% endblock %}
<hr>
Don't Own An Account? <a class="text_links" href="/accounts/signup/">Sign Up</a>
