{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | The Decorista</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <style type="text/css">
        .content_ {
            margin-top: 6.5%;
            align-items: center;
        }
    </style>
</head>
<center>
{% include 'navbar/navbar.html' %}
<div class="content_">
<h1 class="playfair-font">Login</h1><hr><br>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="bs-example">
    {% if "seller" in request.get_full_path %}
    <form action="{% url 'login-seller' %}" method="post">
    {% else %}
    <form action="{% url 'login' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="inputEmail">Email:</label>&nbsp;
            <span style="display: block;">{{form.username}}</span>
        </div>
        <div class="form-group">
            <label for="inputPassword">{{form.password.label_tag}}</label>&nbsp;
            <span style="display: block; ">{{form.password}}</span>
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div><br>
        <input type="hidden" name="next" id="next" />
        <button type="submit" class="btn btn-primary" value="login">Login</button>
    </form>
</div>

<script type="text/javascript">
    function getNextValue() {
        return (window.location.href.indexOf('seller') != -1) ? "/admin/" : "/store/";
    }
    $(document).ready(function() {
        document.getElementById('next').value = getNextValue();
    });
</script>

{% endblock %}
<br>
Forgot Password? <a href="/accounts/password_reset/">Reset Password</a>
<br>
Don't Own An Account? <a class="text_links" href="/accounts/signup/">Sign Up</a>
</div>
</center>
