{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Account | The Decorista</title>
    <style type="text/css">
        .content_ {
            margin-top: 6.5%;
            align-items: center;
        }
    </style>
    {% include 'navbar/navbar.html' %}
</head>
<center>

<div class="content_">
<h1 class="playfair-font">My Account</h1><hr><br>

<div class="bs-example">
    <a href="/admin/">Add/Edit Products</a>
</div>

{% endblock %}
</div>
</center>
