<head>
    {% include 'navbar/navbar.html' %}
    <title>Seller | The Decorista</title>
    <style media="screen">
        body {
            margin-top: 10%;
            font-family: 'Playfair Display', serif;
        }
    </style>
</head>

<body>

    <center>
        <u><h1> <a style="color: rgb(5, 13, 48) !important; " href="/accounts/seller/signup/">Signup as Seller</a></u>&nbsp;//
            <u><a style="color: rgb(5, 13, 48) !important;" href="/accounts/seller-login/">Login as Seller</a>
            <br> <a style="color: rgb(5, 13, 48) !important; " href="/admin/">Enter Admin Page</a> </h1>
        </u>
    </center>

</body>
