{% block content %}
  <h2>Settings</h2>
  <hr>
  {% if success_message %}
      {{ success_message }}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    CC: <br><input type="text" name="cc" value="{{user.profile.cc}}"><br><br>
    Address: <br><input type="text" name="address" value="{{user.profile.address}}"><br><br>
    First Name: <br><input type="text" name="first_name" value="{{user.first_name}}"><br><br>
    Last Name: <br><input type="text" name="last_name" value="{{user.last_name}}"><br>
    <br><button type="submit">Save</button>
  </form>
  <a class="text_links" href="/accounts/send_activation_email/">Resend activation email</a><br>
  <a href="/accounts/logout">Logout</a>
{% endblock %}
