<style>
    .helptext, li {
        color: grey;
        size: small;
    }
</style>

{% block content %}
  <h2>Sign up</h2>
  {% if tm %}
    <span style="color: rgb(125, 6, 6);">{{tm}}</span>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
            {% if field.label_tag == "<label for=\"id_password1\">Password:</label>" %}
                <small style="color: grey;">
                    <ul>
                        <li>Your password can&#39;t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can&#39;t be a commonly used password.</li>
                        <li>Your password can&#39;t be entirely numeric.</li>
                    </ul>
                </small>
            {% endif %}
            {% if field.label_tag != "<label for=\"id_password1\">Password:</label>" %}
                <br><small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <br><button type="submit">Sign up</button>
  </form>
  <a href="/accounts/logout">Logout</a>
{% endblock %}
