{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/store/' %}main.css">

{% include 'cart/cart-icon.html' with orders=cart_info.orders count=cart_info.count total=cart_info.total %}

<div class="leftcol">

    <ul>
        Filter:
        <ul>
            <li>Categories:
                <ul>
                    {% for category in categories %}
                        <li><a href="/store?category={{category}}">{{category}}</a></li>
                    {% endfor %}
                    <li><a href="/store/">None</a></li>
                </ul>
            </li>
        </ul>
    </ul>

</div>

<div class="products_list">

    {% if latest_products %}
        <ul class="products">
            {% for product in latest_products %}
                <li><a href="/store/{{ product.pid }}/"><img src="{% static 'store/'%}{{product.img}}" height=60><br>
                    <span class="title">{{product.title}}</span><br>
                    {% if product.notes is not None and product.notes is not '' %}
                        <span class="notes">{{product.notes}}</span><br>
                    {% endif %}
                    <span class="price price-r">₹{{product.price}}</span>&nbsp;
                    {% if product.discount_in_percent is not 0 %}
                        <span class="price_og price-r"><s>₹{{product.og_price}}</s></span>&nbsp;
                        <span class="discount price-r">{{product.discount_in_percent}}% off</span>
                    {% endif %}
                </a><br><br>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No Products Available.</h1>
    {% endif %}


</div>
