{% load static %}
<link rel="stylesheet" href="{%static 'css/'%}wired_links.css">
<style>
    h4 {
        color: rgb(19, 163, 42);
    }
</style>
{% include 'cart/cart-icon.html' with orders=cart_info.orders count=cart_info.count total=cart_info.total %}

{% if tm %}
    <div class="top_message" style="background: rgb(25, 133, 46); color: white; width: 10%;">
        <h3>{{tm}}</h3>
    </div>
{% endif %}
<h1>{{product.title}}</h1><hr>
<img src="{%static 'store/'%}{{product.img}}" height=150>
{% for image in image_list %}
    <img src="{%static 'store/'%}{{image}}" height=150>
{% endfor %}
<h3>{{product.description}}</h4>
<h4>Rs. {{product.price}} | Shipped out in {{ product.daysBeforeShipping }} days.</h4>
<a class="text_links" href="/cart/add-to-cart/{{product.pid}}">Add to cart</a>
<a class="text_links" href="/cart/remove-from-cart/{{product.pid}}">Remove from cart</a>
