<style media="screen">
    .bodypart {
        margin-top: 6.5%;
    }
</style>

{% include 'navbar/navbar.html' %}



<center>

<div class="bs-example bodypart">
    {% block content %}
    <h1 class="playfair-font">Change Password</h1>
    <hr>
    {% if validlink %}
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                        {% if field.label_tag == "<label for=\"id_new_password1\">New password:</label>" %}
                            <small style="color: grey;" class="tags">
                                <br>Your password can&#39;t be too similar to your other personal information.<br>
                                Your password must contain at least 8 characters.<br>
                                Your password can&#39;t be a commonly used password.<br>
                                Your password can&#39;t be entirely numeric.<br>
                            </small>
                        {% endif %}
                        <!--{% if field.label_tag != "<label for=\"id_password1\">Password:</label>" %}
                            <br><small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}-->
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <br><div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
    {% endif %}
    {% endblock %}
</div>
</center>
