<style media="screen">
    .bodypart {
        margin-top: 6.5%;
    }
</style>

{% include 'navbar/navbar.html' %}
<center>
<div class="bodypart">
    {% block content %}
      <h1 class="playfair-font">Password Reset Link Sent</h1><hr>
      <p>
        If an account exists in association with the email you entered, you'll receive an email with instructions on how to reset your password.
        <br>
        If you don't receive an email, please make sure you've entered the address you registered with.
        Additionally, check the spam folder, in case the email accidently lands there.
      </p>
    {% endblock %}

</div>
</center>
