{% block content %}
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/store/' %}main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/62a134c262.js"></script>
        <script>
            $(document).ready(function() {
                // get current URL path and assign 'active' class
                var pathname = window.location.pathname;
                if(pathname != '/cart/') {
                    $('.navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
                };
            });
        </script>
        <style media="screen">
            #myNavbar {
                background-color: rgb(1, 15, 40);
                border-bottom: 4.5px solid rgb(0, 84, 145);
            }
        </style>
    </head>
    <div class="navbarMain">
        <nav id="myNavbar" class="navbar navbar-expand-md navbar-light fixed-top" role="navigation">
            <a href="/" class="navbar-brand py-0">The Decorista</a>
        	<!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        	<!-- Collect the nav links, forms, and other content for toggling -->
        	<div class="collapse navbar-collapse" id="navbarSupportedContent">
        		<ul class="navbar-nav">
                    <li class="nav-item dropdown py-0">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Store
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <a href="/store?category={{category}}" class="dropdown-item" style="color: black;">{{category}}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a href="/store/" class="dropdown-item" style="color: black;">All</a>
                        </div>
                    </li>
        			<li class="login-nav py-0"><a class="nav-link" href="/accounts/login/" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login</a></li>
        			<li class="signup-nav py-0"><a class="nav-link" href="/accounts/signup/" target="_blank"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Signup</a></li>
                    <li class="settings-nav py-0"><a href="/accounts/settings/" class="nav-link" target="_blank"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings</a></li>
    			</ul>
                <ul class="navbar-nav ml-auto" style="vertical-align: middle;">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" role="search" method="get" action="/store/">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Search" name="q">
                            </div>
                        </form>
                    </li>
                    <li class="cart-nav nav-item py-0 my-2 my-lg-0"><a class="nav-link" href="/cart/" target="_blank" id="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;-&nbsp;<span class="badge">{{count}} - ₹{{total}}</span></a></li>
                </ul>
    		</div>
        </nav>
    </div>
{% endblock %}
